Package: com.nspwn.fakeoperator
Name: Fake Operator
Depends: mobilesubstrate
Version: 0.0.1-65
Architecture: iphoneos-arm
Description: Spoof your Operator on iOS 4.2 without having to edit PList's and without having to respring!
Maintainer: GreySyntax
Author: GreySyntax
Section: Tweaks
Installed-Size: 52
